:root {
    /* Dark Blue: hsl(233, 26%, 24%) */
    --clr-primary-100: hsl(233, 26%, 24%);
    /* Lime Green: hsl(136, 65%, 51%) */
    --clr-primary-200: #31d35c;
    /* Bright Cyan: hsl(192, 70%, 51%) */
    --clr-gradient-300: linear-gradient(130deg, rgba(49, 211, 92, 1) 0%, rgba(43, 183, 218, 1) 100%);
    /* Grayish Blue: hsl(233, 8%, 62%) */
    --clr-neutral-100: hsl(233, 8%, 62%);
    /* Light Grayish Blue: hsl(220, 16%, 96%) */
    --clr-neutral-200: hsl(220, 16%, 96%);
    /* Very Light Gray: hsl(0, 0%, 98%) */
    --clr-neutral-300: hsl(0, 0%, 98%);
    /* White: hsl(0, 0%, 100%) */
    --clr-neutral-white: hsl(0, 0%, 100%);

}

body,
html {
    /* Weights: 300, 400, 700 */
    font-family: 'Public Sans', sans-serif;
    margin: 0;
    box-sizing: border-box;
    // overflow-y: hidden;
}

p {
    font-size: 18px
}

/* 
Mobile: 375px
Desktop: 1440px */
.container {
    --max-width: 1440px;
    --padding: 1.5rem;
    width: min(var(--max-width), 100% - (var(--padding) *2));
    margin-inline: auto;
}

// nav bar 
nav {
    background-color: white;

    ul {
        margin: 0;
        padding: 1.5rem;
    }
}

.nav-sm-menu {
    display: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.btn {
    cursor: pointer;
}

// why is there padding? 
ul {
    padding-left: 0;
}

.ul-bar {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;

    .icon-li {
        display: flex;
        gap: 2rem;
    }
}

button {
    border: 0;
    cursor: pointer;
}

.none {
    display: none;
}

// request invite btn
.req-invite-btn {
    background: var(--clr-primary-200);
    background: var(--clr-gradient-300);
    border-radius: 2em;
    // border: 2px solid var(--clr-gradient-300);
    color: var(--clr-neutral-white);
    font-weight: 700;
    padding: 1rem 2rem;

}

// sections
section {
    margin-bottom: 10em;
}

p {
    color: var(--clr-neutral-100);
    font-size: 1rem;
    line-height: 1.5rem;
}

h2,
h3,
h4 {
    font-weight: 100;
}

// hero bg
.hero-section::before {
    position: absolute;
    z-index: -1;
}

@media (max-width: 40rem) {
    .hero-img::before {
        content: url(../images/bg-intro-mobile.svg);
        left: 0;
        position: absolute;
        z-index: -1;
    }

    // drop down nav bar
    .ul-bar .icon-li {
        position: fixed;
        display: grid;
        background-color: var(--clr-neutral-300);
        text-align: center;
        min-width: 90%;
        top: 5rem;
        left: 5%;
        padding-block: 2rem;
        border-radius: 10px;
        z-index: 99;
        display: none;
    }

    .hero-section::before {
        content: "";
        background: hsla(233, 26%, 24%, 0.5);
        height: 100vh;
        width: 100%;
        left: 0;
        z-index: 98;
        display: none;
    }

    // end drop down nav bar
}

@media (min-width: 40rem) and (max-width: 55rem) {
    .hero-img::before {
        content: url(../images/bg-intro-desktop.svg);
        top: -10rem;
        z-index: -1;
        position: absolute;
    }

}

h2 {
    font-size: 2rem;
}

h4 {
    font-size: 1.2rem;
    margin-block: .5rem;
}

.latest-articles {
    padding-inline: 1.5rem;

}

a {
    color: var(--clr-primary-100);
    // font-size: 18px;
}

.sm-big-img {
    margin-bottom: 3rem;
}

.author-name {
    font-size: 12px;
}

footer {
    background-color: var(--clr-primary-100);

}

@media (max-width: 40rem) {
    .ul-bar {
        position: relative;

        .nav-req-invite {
            display: none;
        }
    }

    .nav-sm-menu {
        display: block;
    }

    .sm-big-img img {
        max-width: 100%;
        height: auto;
        margin-inline: auto;
    }

    .hero-section {
        h1 {
            text-align: center;
            font-size: 2.5em;
            font-weight: 300;
        }

        p {
            text-align: center;
        }

        a {
            display: block;
            text-align: center;
        }
    }

    h2 {
        text-align: center;
    }

    .easybank-section {
        text-align: center;
    }

    .btn {
        width: 40%;
        margin: auto;
        margin-top: 2rem;
    }

    footer {
        text-align: center;
        padding-block: 3rem;

        .container {
            display: grid;
            grid-template-rows: fit-content repeat(6, 1fr);
            gap: 2rem;


            a {
                color: white;
            }

            .row-span-2 {
                // grid-row: 4/6;
                padding: 2rem;
            }
        }

        .footer-nav {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .footer-icons a {
            padding-inline: .3rem;
        }


    }

}

.attribution {
    color: var(--clr-neutral-100);
    font-size: 12px;

    a {
        color: var(--clr-neutral-100);
    }
}

@media (min-width: 40rem) and (max-width: 55rem) {
    .nav-req-invite {
        display: none;
    }

}

@media (min-width: 55rem) {
    .nav-req-invite {
        display: block;
    }
}

h1 {
    font-size: 3em;
    font-weight: 100;

}

.hero-text-area>p {
    margin-bottom: 3rem;
}

.reasonWhy-section {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 40rem) and (max-width: 55rem) {
    .reasonWhy-section {
        justify-content: space-around;

        div {
            width: 40%;
        }
    }

    .md-screen-layout {
        display: flex;

        img {
            max-width: 50%;
        }

    }

}

@media (min-width: 55rem) {
    nav {
        padding-inline: 10em;
        margin: auto;
    }
}

@media (min-width: 55rem) {
    .hero-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        position: relative;

        div:first-child {
            grid-column: 3/-1;

            img {
                position: absolute;
                max-width: 100%;
                top: -10rem;
                right: -10rem;
                z-index: -1;
                // overflow: hidden;
            }
        }

        div:nth-child(2) {
            grid-column: 1/2;
            grid-row: -1;

        }
    }

    h2 {
        font-size: 3rem;
    }

    h1 {
        font-size: 4rem;
    }

    .easybank-section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 3rem;

        .h2-section {
            grid-column: 1/3;
        }

        .reasonWhy-section {
            grid-row: 2/3;
            grid-column: 1/-1;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem;
        }
    }

    .latest-section {
        display: flex;
        gap: 2rem;

        img {
            width: 100%;
        }
    }

}

@media (min-width: 40rem) {
    .hero-img::before {
        content: url(../images/bg-intro-desktop.svg);
        top: -20rem;
        right: -20em;
        position: absolute;
        z-index: -1;
    }

    footer {
        padding-top: 3rem;

        a {
            color: var(--clr-neutral-white);
        }

        .container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-column-gap: 1rem;
        }

        .footer-icons {
            grid-row: 2/3;

            a {
                padding-inline: .3rem;
            }
        }

        .footer-nav {
            grid-column: 2/4;
            grid-row: 1/3;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 1rem;
            padding-inline-start: 2rem;
        }

        .row-span-2 {
            grid-row: 2/3;

            a {
                padding: 1rem;
            }
        }

        .attribution {
            grid-row-end: -1;
            grid-column: 1/-1;
            text-align: center;
        }
    }
}